<!DOCTYPE html>
<html>
<head>

</head>
<body> 

<!-- HERE IS YOUR SEARCH -->
<div class="booyah-box col-10 offset-1">
  <h1>Enter in a Location</h1>
    <i><%# trail.longitude %></i><br />
    <p><%# trail.latitude %></p><br />
   <!-- Geocoder.search([latitude, longitude]).first.postal_code --> 
  <%= link_to "Blaze Your Trail", trail_path(id:85213), class: 'btn btn-primary' %>
</div>
    

<!-- TRAILS WILL DISPLAY HERE -->

    <div class="booyah-box col-10 offset-1">
        <h1> <%= @hikingTrailName %></h1>
        <h2> <%= @hikingTrailType %></h2>
        <h2> <%= @hikingTrailDifficulty %></h2>
    </div>



</body>
</html>