<!DOCTYPE html>
<html>
<head>

</head>
<body> 

<!-- HERE IS YOUR SEARCH -->
    <form id="inputForm">
        <label for="autocomplete"></label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your location" aria-describedby="button-search" id="autocomplete">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="button-search">Blaze Your Trail!</button>
            </div>
        </div>
    </form>


<!-- TRAILS WILL DISPLAY HERE -->

    <div class="booyah-box col-10 offset-1">
        <h1> <%= @hikingTrailName %></h1>
        <h2> <%= @hikingTrailType %></h2>
        <h2> <%= @hikingTrailDifficulty %></h2>
    </div>



</body>
</html>