<!DOCTYPE html>
<html>
<head>

</head>
<body>

<!-- TRAILBLAZER LOGO HEADING -->
<div class="container">   

<!-- HERE IS OUR INPUT GROUP-->
    <form id="inputForm">
        <label for="autocomplete"></label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your location" aria-describedby="button-search" id="autocomplete">
            <div class="input-group-append">
                <button class="btn btn-secondary" type="submit" id="button-search">Blaze Your Trail!</button>
            </div>
        </div>
    </form>

<!-- OUR DATA WILL GO HERE -->
    <div id="cards"></div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>  
<script src="assets/javascript/logic.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPmxGsaHT-silFQUJO898ABopWlQswjB8&libraries=places&callback=initAutocomplete" async defer></script>
  </body>
</html>

</body>
</html>

