<div class="booyah-box col-10 offset-1">
<h1>New Trail</h1>

    <%= simple_form_for  do |f| %>
        <%= f.input :longitude %> 
        <%= f.input :latitude %> 
        <br />
        <%= f.submit 'Create', class: 'btn btn-primary' %>
    <% end %>
</div>

