<%= @trail.inspect %>
<div class="booyah-box col-10 offset-1">
        <h1> <%= @hikingTrailName %></h1>
        <h2> <%= @hikingTrailType %></h2>
        <h2> <%= @hikingTrailDifficulty %></h2>
    </div>